* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  padding: 0;
  background-color: #000000;
}

html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

h1 {
  margin-top: 2px;
  margin-bottom: 0px;
}

table {
  border-collapse: collapse;
  font-family: monospace;
  font-size: 0.8rem;
  letter-spacing: 1px;
  table-layout: fixed;
  overflow-x: hidden;
  height: auto;
}

tr {
  background: rgba(0, 0, 0, 0.6);
  height: auto;
  width: 100vw;
}

th {
  border: 1px solid #41ff41;
  padding: 8px 10px;
  height: auto;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
}

.nav1 #info h2,
.nav1 #info .subText {
  padding-bottom: 10px;
}

.card {
  border: 1px solid #41ff41;
  border-radius: 4px;
  padding: 14px 16px;
  margin-bottom: 14px;

  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(2px);

  box-shadow:
    0 0 8px rgba(65, 255, 65, 0.15),
    inset 0 0 12px rgba(65, 255, 65, 0.05);

  text-align: left;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: steelblue;
}

.card strong,
.card span {
  color: slateblue;
}

.card p {
  margin: 4px 0;
  overflow-wrap: anywhere;
  max-width: 100ch;
  color: #00ffc8;
  text-wrap: wrap;
}

/* .contentCell {
  max-height: 6px;
} */

.scrollable-content {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 10px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.routedContent {
  max-height: 65vh;
  /* padding: 0 10px 20px 10px; bottom padding ensures last card is visible */
  overflow-y: hidden;
  box-sizing: border-box;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.chart {
  color: #41ff41;
}

.smallMargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
}

#infoTitle {
  margin-top: 10px;
}

.subText {
  color: #00ffc8;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

a {
  color: #ff0095;
}

.tryButton {
  color: #830057;
}

.extraInfo {
  color: #00ffc8;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.projectPreview {
  color: #919191;
}

.projectPreview img {
  margin-top: 15px;
  max-width: 500px;
}

.hljs {
  background: transparent !important;
  color: #d6deeb !important;
}

.hljs-comment,
.hljs-quote {
  color: #697098 !important;
  font-style: italic !important;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #82aaff !important;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-type,
.hljs-params {
  color: #e99173 !important;
}

.hljs-literal
{
  color: #e76276 !important;
}


.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #d8bb8d !important;
}

.hljs-keyword,
.hljs-title,
.hljs-section,
.hljs-doctag {
  color: #ffcb6b !important;
}

.hljs-attr {
  color: #95d9cb !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #bbc2cf !important;
}
