@font-face {
  font-family: 'Mario';
  src: url('../../assets/fonts/Mario-Kart-DS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* .nav-btn {
  width: 100px;
  height: auto;
  border-radius: 10px;
} */
