name: Build Check

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test build'
        required: true
        default: 'dependabot/npm_and_yarn/...'
  push:
    branches:
      - 'dependabot/**' 
      - 'dev'
  pull_request:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || github.head_ref || github.ref_name }}

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.12

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build